* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #0a0a0a;
  color: white;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #111;
  padding: 20px 10%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #b026ff;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: .3s;
}

nav ul li a:hover {
  color: #b026ff;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 120px 10%;
  flex-wrap: wrap;
}

.hero-image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #b026ff;
  box-shadow: 0 0 30px #b026ff;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content span {
  color: #b026ff;
}

.hero-content h2 {
  color: #d28cff;
  margin-bottom: 15px;
}

.hero-content p {
  line-height: 1.8;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  margin-bottom: 15px;
  background: #b026ff;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: .3s;
}

.btn:hover {
  background: #8c00ff;
}

section {
  padding: 100px 10%;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  color: #b026ff;
  margin-bottom: 50px;
}

.about-content {
  max-width: 900px;
  margin: auto;
  text-align: center;
  line-height: 1.8;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.skill-card {
  background: #151515;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #b026ff;
  transition: .3s;
}

.skill-card:hover {
  transform: translateY(-8px);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.project-card {
  background: #151515;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #b026ff;
}

.project-card h3 {
  color: #d28cff;
  margin-bottom: 10px;
}

.contact-form {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  background: #151515;
  border: 1px solid #b026ff;
  color: white;
  border-radius: 10px;
}

.contact-form button {
  padding: 15px;
  background: #b026ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

footer {
  background: #111;
  padding: 20px;
  text-align: center;
}

@media(max-width:768px) {

  .hero-content h1 {
    font-size: 2.2rem;
  }

  .hero-image img {
    width: 250px;
    height: 250px;
  }

  nav ul {
    gap: 10px;
    font-size: 14px;
  }
}